.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
  }

  /* shared styles */
  .primary-color{
    color: rgb(13, 19, 33);
  }
  .secondary-color{
    color: rgba(13, 19, 33, 0.7);
  }
  .text-center{
    text-align: center;
  }
  .all-btn{
    padding: 20px 30px;
    background-color: white;
 }
 .all-anchor{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
 }
 .second-section-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px; 
}
.second-section-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
} 

  /* header section */

  .header-section{
    background-image: url('../assets/Hero-bg.png');
    width: 100%;
    height: 652px;
    margin: 0 auto;
  }
  .header-content{
    text-align: center;
  }
  .header-img{
    margin-top: 26px;
  }
  .header-title{
    font-size: 48px;
    font-weight: 800;
    margin-top: 45px;
    margin-bottom: 24px;
  }
  .header-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
  }

.header-btn{
    background-color:rgb(13, 19, 33) ;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    border-radius: 8px;
}

/* web-dev styles */

.web-dev-container{
    width: 1140px;
    height: 1500px;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 88px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-dev-title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.web-dev-description {
    font-size: 16px;
    font-weight: 400;
}
.coding-container{
    margin-top: 48px;
    padding: 80px 97px;
    display: flex;
    justify-content: space-between;
   
}
.coding-section{
    padding: 48px;
    border-radius: 16px;
    /* background-color: antiquewhite; */
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
#code-img{
    margin-top: 50px;
    margin-left: 70px;
}
.web-system-container{
    padding: 48px;
    margin-top: 32px;
    display: flex;
    justify-content:space-around;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}
#web-system-img{
    margin-left: 100px;
}
.web-system-section{
    margin: 11px 100px 0px 32px;
}

/* my inspiration styles */

.inspiration-container{
    /* margin-bottom: 150px; */
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.inspiration-title{
    font-size: 32px;
    font-weight: 800;
}
.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;

}
.video-portion{
    /* margin-top: 48px; */
    width: 1140px;
    height: 614px;
    padding: 32px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.video-class{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

/* my current target styles */

.current-target-container{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 110px;
}
.language-container{
    display: flex;
    /* justify-content: space-evenly; */
    width: 1140px;
    height: 335px;
    margin: 0 auto;
    margin-top: 48px;

}

.target-title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.html-part{
    width: 364px;
    height: 250px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.css-part{
    width: 364px;
    height: 250px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-left: 24px;
    margin-right: 24px;
}
.javascript-part{
    width: 364px;
    height: 250px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.language-title{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-top: 24px;
    margin-bottom: 8px;
}
.language-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}
.language-link{
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(13, 19, 33);
    color:rgb(13, 19, 33) ; 
}

/* support styles */

.support-container{
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    width: 1140px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 48px;
    margin: 0 auto;
    margin-bottom: 80px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    
}
.support-title{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 16px;
}
.support-instruction{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.support-upper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin:0 auto;
}
.support-down-container{
    width: 684px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0 auto;
    margin-top: 40px;
}
.support-input{
    width: 548px;
    height: 57px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    margin-right: 16px;
}
.support-submit{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600;
}

/* footer styles */

.footer-container{
    height: 50px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 32px 150px 32px 150px;
    margin: 0 auto;

}
.footer-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
}